#ignore everything
*
#except these files
!.gitignore
!README.md
!index.Rmd
!01.Rmd
!02.Rmd
!03.Rmd
!references.bib
!_output.yml
!_build.R
!_deploy.sh
!_feedback.sh
!_rundock.sh
!docs/
!docs/*
!docs/*/*
!docs/*/*/*
!docs/*/*/*/*
!docs/*/*/*/*/*
!docs/*/*/*/*/*/*
